.todo {
  @apply flex flex-col items-center;

  &__title {
    @apply text-2xl my-4 text-blue-500;
  }

  &__form {
    @apply my-4;
  }
}

.todo_form {
  &__input {
    @apply rounded-l-md;
  }
  &__btn {
    @apply btn rounded-r-md;
  }
}
